html {
  margin: 10px;
}

.place {
  background-color: #1D62F4;
  aspect-ratio: 1/1;
  width: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
}

.piece {
  border-radius: 2vw;
  aspect-ratio: 1;
  width: 80%;
  background-color: white;
}

.board {
  background-color: #1D62F4;
  padding: 1vw;
  width: min-content;

  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 1px;
}

* {
  /* border: 1px dotted red; */
}